<!DOCTYPE html>
<html>
  <head>
    <title>Add Map</title>

    <style type="text/css">
      /* Set the size of the div element that contains the map */
      #map {
        height: 600px;
        /* The height is 400 pixels */
        width: 100%;
        /* The width is the width of the web page */
      }
    </style>
    <script>
      $(document).ready(
      // Initialize and add the map
      function initMap() {
        // The location of Uluru
        const Mumbai = { lat: 19.0760, lng: -72.8777 };
        // The map, centered at Uluru
        const map = new google.maps.Map(document.getElementById("map"), {
          zoom: 8,
          center: Mumbai,
        });
        //load socket
        var socket=io();
        //listen to allcars event to receive all cars
    socket.on('allcars', function(cars) {
    console.log('AllCars', allcars);
    //loop through cars array
    for(var i=0;i<cars.cars.length;i++){
console.log(cars.cars[i]);
 // The marker, positioned at Uluru
        function addMarker(){
          const marker = new google.maps.Marker({
          position: {lat:cars.cars[i].coords.lat,lng: cars.cars[i].coords.lng},
          map: map,
        });
        //create info window for each car
        var infoWindow = new google.maps.infoWindow({
            content: <a href="/displayCar/${cars.cars[i]._id}">
            <h3>${cars.cars[i].make}</h3>
            <p><b>Model: </b>${cars.cars[i].model}, <b>Year: </b>${cars.cars[i].myear}</p>
            <p>$${cars.cars[i].pricePerHour} per hour</p>
            <p>$${cars.cars[i].pricePerWeek} per week</p>
            <img src = "${cars.cars[i].picture}" width = "100px">
            </a>
        });
        marker.addListener('click', function(){
            infoWindow.open(map,marker);
        })
    }
    addMarker();
    }
    });   
      })
    </script>
  </head>
  <body>
    <h3>My Google Maps Demo</h3>
    <!--The div element for the map -->
    <div id="map"></div>

    <!-- Async script executes immediately and must be after any DOM elements used in callback. -->
    <script
      src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCi2_HmjHqnCgyScAsaK81ZwjVo3JzkjVw&callback=initMap&libraries=&v=weekly"
      async
    ></script>
  </body>
</html>